<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <button mat-button [routerLink]="['']">ToothLab</button>
    <button mat-button [routerLink]="['specimen-list']">Models</button>
    <button mat-button [routerLink]="['publications']">Publications</button>
    <button mat-button [routerLink]="['people']">People</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card-content>
  <router-outlet></router-outlet>
</mat-card-content>
<br>
<br>
<p align="center">2017 © Toothlab.ai, All Rights Reserved.</p>
