<div *ngIf="cso">
  <h1 mat-dialog-title>{{cso.section | number : numberFormat}} mm from apex</h1>
  <button mat-button mat-dialog-close>Close</button>

  <div mat-dialog-content>
    <ul>
      <li>Thinnest dentin:</li>
      <ul>
        <li>pre : {{cso.mindist_ref['thickness'] | number : numberFormat}} mm</li>
        <li *ngFor="let key of cso.mindists_cmp | keys">
          {{key}} : {{cso.mindists_cmp[key]['thickness'] | number : numberFormat}} mm
        </li>
      </ul>

      <li>Mesial dentin thickness:</li>
      <ul>
        <li>pre : {{cso.mesial_ref['thickness'] | number : numberFormat}} mm</li>
        <li *ngFor="let key of cso.mesials_cmp | keys">
          {{key}} : {{cso.mesials_cmp[key]['thickness'] | number : numberFormat}} mm
        </li>
      </ul>

      <li>Distal dentin thickness:</li>
      <ul>
        <li>pre : {{cso.distal_ref['thickness'] | number : numberFormat}} mm</li>
        <li *ngFor="let key of cso.distals_cmp | keys">
          {{key}} : {{cso.distals_cmp[key]['thickness'] | number : numberFormat}} mm
        </li>
      </ul>

      <li>Canal width(narrow):</li>
      <ul>
        <li>pre : {{cso.cnl_ref_narrow['width'] | number : numberFormat}} mm</li>
        <li *ngFor="let key of cso.cnls_cmp_narrow | keys">
          {{key}} : {{cso.cnls_cmp_narrow[key]['width'] | number : numberFormat}} mm
        </li>
      </ul>

      <li>Canal width(wide):</li>
      <ul>
        <li>pre : {{cso.cnl_ref_wide['width'] | number : numberFormat}} mm</li>
        <li *ngFor="let key of cso.cnls_cmp_wide | keys">
          {{key}} : {{cso.cnls_cmp_wide[key]['width'] | number : numberFormat}} mm
        </li>
      </ul>

      <li>Canal transportation :
        <ul>
          <li *ngFor="let key of cso.cnls_transportation | keys">
            {{key}} : {{cso.cnls_transportation[key]['distance'] | number : numberFormat}} mm
          </li>
        </ul>
    </ul>
  </div>
</div>
