
<div align="center">
<h1>Tooth to Numbers...</h1>
<h3>  explore the hidden secrets of  clinical success</h3>

<h2> <a [routerLink]="['specimen-detail/LJKCS10']">Checkout sample model</a></h2>


<BR>

  <img src="../../assets/images/3d_model.png" width="250" height="200"><br>
  <img src="../../assets/images/section.png" width="250" height="200"><br>
  <img src="../../assets/images/3d_model_with_section.png" width="250" height="200"><br>
  <img src="../../assets/images/thinnest_dentin.png" width="250" height="200"><br>
  <img src="../../assets/images/dentin_thickness_chart.png"><br>
  <img src="../../assets/images/transportation_chart.png"><br>


<br>
Optimized for Chrome browser
</div>
